---
--- 
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
      <h1 class="sitename">Green Orbit Space</h1>
    </a>

    <nav id="navmenu" class="navmenu" aria-label="Main Navigation">
      <ul>
        <li><a href="/index" class="active">Home</a></li>

        <li class="dropdown">
          <a href="/#about">
            <span>About</span> 
            <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="https://impactorbit.co/about">Impact Orbit Creative Group</a></li>
            <li><a href="/about/our-team">Our Team</a></li>
            <li><a href="https://impactorbit.co/careers">Careers</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="/index#services">
            <span>Services</span> 
            <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul class="dropdown-menu">
                <li><a href="/services/strategy">Strategy</a></li>
                <li><a href="/services/content">Content</a></li>
                <li><a href="/services/engagement">Engagement</a></li>
                <li><a href="/services/insights">Insights</a></li>
          </ul>
        </li>

        <li><a href="/work">Work</a></li>

        <!-- CTA placed inside navigation on mobile -->
        <li class="mobile-cta d-xl-none">
          <a class="btn-getstarted-mobile" href="#contact">Contact Us</a>
        </li>
      </ul>

      <!-- Mobile toggle -->
      <i class="mobile-nav-toggle d-xl-none bi bi-list" aria-label="Toggle Navigation"></i>
    </nav>

    <!-- Desktop CTA -->
    <a class="btn-getstarted d-none d-xl-inline-flex" href="#contact">
      <strong>Contact Us</strong>
    </a>

  </div>
</header>